.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Raleway', Arial;
}

.header__menu-link_active {
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.no-letter-spacing {
  letter-spacing: 0;
}