/* Общие настройки для всего проекта */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1100px;
  margin: 0 auto;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  background-color: #FFFFFF;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.page {
  width: 100%;
  margin: 0 auto;
}