/* Общий сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-family: 'Futura PT', sans-serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}